p {
  /* style */
}

#Focus {
  /* style */
  border: 1px solid #ff0000;
}

.Highlight {
  /* style */
  background-color: #ffff00;
  font-weight: bold;
}

span:first-child {
  /* style du premier span d'un élément, par exemple le nom de la formation  */
}

span:last-child {
  /* style du dernier span d'un élément, par exemple la date dans la éléments de la liste formation */
}
